<div class="row">
  <div class="col-md-12">
  <% @genres.each do |genre|  %>
  <div class="col-md-4 col-sm-6 col-xs-12">
    <h3>Genre ID:<a href="/genres/<%= genre.genreid %>"><%= genre.genreid %></a></h3>
    <h4>Genre Name: <%= genre.name%></h4>
  </div>
  <% end %>
  </div>
</div>
