<div class="row">
  <div class="col-md-12">
  <% @books.each do |book|  %>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <img class="bg-overlay film-cover-top gradient img-responsive" src="images/2.jpg" >
    <h3><a href="/books/<%= book.bookid %>"><%= book.bookname %></a></h3>
    <h4>Author: <%= book.author%></h4>
    <h4>Genre: <%= book.genreid%></h4>
  </div>
  <% end %>
  </div>
</div>
