<footer class="page-footer">
  <div class="container-fluid text-center text-md-left">
  <div class="row">
  <div class="col-md-6">
    <h5 class="text-uppercase">Footer Content</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  </div>
  <div class="col-md-3">
    <h5 class="text-uppercase">Links</h5>
    <ul class="list-unstyled">
      <li>
        <a href="#!">Link 1</a>
      </li>
      <li>
        <a href="#!">Link 2</a>
      </li>
      <li>
        <a href="#!">Link 3</a>
      </li>
      <li>
        <a href="#!">Link 4</a>
      </li>
    </ul>
    </div>
    <div class="col-md-3">
    <h5 class="text-uppercase">Links</h5>
    <ul class="list-unstyled">
      <li>
        <a href="#!">Link 1</a>
      </li>
      <li>
      <a href="#!">Link 2</a>
    </li>
    <li>
      <a href="#!">Link 3</a>
    </li>
    <li>
      <a href="#!">Link 4</a>
    </li>
    </ul><br>
  </div>
  <hr>
  <p>PHONE: (123)456-7890</p>
  <p>EMAIL: email@email.com</p>
  <br>
  </div>
  </div>
  <div class="footer-copyright text-center">© 2018 Copyright:
  <a href="">website.com</a>
</div>
</footer>
