<form action="/<%= @film.filmid %>" method="post">
  <div>
    <label>Film Name</label>
    <input type="text" name="title" placeholder="Enter a Name" value="<%= @film.filmname %>">
  </div>
  <div>
    <label>Director</label>
    <input type="text" name="title" placeholder="Enter a Name" value="<%= @film.director %>">
  </div>
  <div>
    <label>Genre ID</label>
    <input type="text" name="title" placeholder="Enter a genre ID" value="<%= @film.genreid %>">
  </div>
  <div>
    <input type="submit" value="Save Post">
  </div>
  <% if(@film.filmid) %>
    <input type="hidden" name="_method" value="put">
  <% end %>
</form>
