<header>
<nav class="navbar navbar-default navbar-custom">
<div class="container-fluid">
  <div class="navbar-header">
  </div>
  <ul class="nav navbar-center navbar-nav">
    <li class="active"><a href="/">Home</a></li>
    <li><a href="/films">Films</a></li>
    <li><a href="/books">Books</a></li>
    <li><a href="/genres">Genres</a></li>
    <li><a href="/new">New</a></li>
  </ul>
</div>
</nav>
</header>
