<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- <link rel="stylesheet" href="/css/global.css"> -->
  </head>
  <body>
    <%#
    <%= erb(:'partials/nagivation', :layout => false) %>

    <%= yield %>

  </body>
</html>
