<div class="row">
  <div class="col-md-12">
    <h1>Add a new record</h1>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <h3>Add Film</h3>
    <%= erb :'partials/films/form', :layout => false %>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <h3>Add Book</h3>
    <%= erb :'partials/books/form', :layout => false %>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12">
    <h3>Add Genre</h3>
    <%= erb :'partials/genres/form', :layout => false %>
  </div>
  </div>
  <br>
</div> 
